* {
  box-sizing: border-box;
}

.modal-wrap {
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.381);
  transition-duration: 1s;
  z-index: 100;
}

.modal-wrap--active {
  top: 0;
}

.page-modal {
  width: 535px;
  background-color: rgb(216, 216, 216);
}

.close-btn {
  border: none;
  background-color: transparent;
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 25px;
  span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #fff;
    &:first-of-type {
      position: relative;
      top: 2px;
      transform: rotate(45deg);
    }
    &:last-of-type {
      transform: rotate(135deg);
    }
  }
}

.main-modal-actions{
  display: flex;
  justify-content: center;
}