
.selected-counter{
   background-color: #fff;
   width: 20px;
   height: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: -7px;
   left: -10px;
   border-radius: 50%;
}

.header__selected-info{
    display: flex;
    column-gap: 15px;
    padding-top: 10px;
}

.header__cart{
    position: relative;
}
.header__fav{
    position: relative;
}